In [ ]:
import pandas as pd

In [ ]:
df=pd.read_parquet('/content/uber_dataset.parquet')

In [ ]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [ ]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [ ]:
df[['tpep_pickup_datetime','tpep_dropoff_datetime']]

        tpep_pickup_datetime tpep_dropoff_datetime
0        2023-01-01 00:32:10   2023-01-01 00:40:36
1        2023-01-01 00:55:08   2023-01-01 01:01:27
2        2023-01-01 00:25:04   2023-01-01 00:37:49
3        2023-01-01 00:03:48   2023-01-01 00:13:25
4        2023-01-01 00:10:29   2023-01-01 00:21:19
...                      ...                   ...
3066761  2023-01-31 23:58:34   2023-02-01 00:12:33
3066762  2023-01-31 23:31:09   2023-01-31 23:50:36
3066763  2023-01-31 23:01:05   2023-01-31 23:25:36
3066764  2023-01-31 23:40:00   2023-01-31 23:53:00
3066765  2023-01-31 23:07:32   2023-01-31 23:21:56

[3066766 rows x 2 columns]

#Drop duplicates from entire dataset and reset index for the df so that index is properly ordered

--remove outlier value from RatecodeID column

--check null values

In [ ]:
df.isna().sum()

VendorID                     0
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          71743
trip_distance                0
RatecodeID               71743
store_and_fwd_flag       71743
PULocationID                 0
DOLocationID                 0
payment_type                 0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge     71743
airport_fee              71743
dtype: int64

In [ ]:
#Drop null-valued rows from the dataset
df=df.dropna()

In [ ]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [ ]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995018,1,2023-01-31 23:00:19,2023-02-01 00:08:33,1.0,13.90,99.0,N,228,159,1,50.5,0.00,0.5,0.00,0.0,1.0,52.00,0.0,0.00
2995019,2,2023-01-31 23:14:38,2023-01-31 23:25:30,1.0,3.37,1.0,N,263,107,1,15.6,1.00,0.5,2.00,0.0,1.0,22.60,2.5,0.00
2995020,2,2023-01-31 23:44:51,2023-01-31 23:58:45,1.0,2.86,1.0,N,79,246,1,16.3,1.00,0.5,2.00,0.0,1.0,23.30,2.5,0.00
2995021,1,2023-01-31 23:45:00,2023-01-31 23:55:46,2.0,3.80,1.0,N,68,238,1,17.7,3.50,0.5,2.50,0.0,1.0,25.20,2.5,0.00
2995022,2,2023-01-31 23:22:47,2023-01-31 23:26:24,1.0,0.60,1.0,N,236,262,2,5.8,1.00,0.5,0.00,0.0,1.0,10.80,2.5,0.00

In [ ]:
df['RatecodeID'].unique()

array([ 1.,  2.,  4., 99.,  5.,  3.,  6.])

In [ ]:
#Remove outlier value "99.0" for RatecodeID from df
df=df.drop(df[df['RatecodeID']==99].index)

In [ ]:
df['RatecodeID'].unique()

array([1., 2., 4., 5., 3., 6.])

In [ ]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.00,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.00,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.00,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.00,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995017,2,2023-01-31 23:21:46,2023-02-01 00:03:54,1.0,17.60,2.0,N,132,100,1,70.0,0.00,0.5,16.11,6.55,1.0,97.91,2.5,1.25
2995019,2,2023-01-31 23:14:38,2023-01-31 23:25:30,1.0,3.37,1.0,N,263,107,1,15.6,1.00,0.5,2.00,0.00,1.0,22.60,2.5,0.00
2995020,2,2023-01-31 23:44:51,2023-01-31 23:58:45,1.0,2.86,1.0,N,79,246,1,16.3,1.00,0.5,2.00,0.00,1.0,23.30,2.5,0.00
2995021,1,2023-01-31 23:45:00,2023-01-31 23:55:46,2.0,3.80,1.0,N,68,238,1,17.7,3.50,0.5,2.50,0.00,1.0,25.20,2.5,0.00
2995022,2,2023-01-31 23:22:47,2023-01-31 23:26:24,1.0,0.60,1.0,N,236,262,2,5.8,1.00,0.5,0.00,0.00,1.0,10.80,2.5,0.00

In [ ]:
df['store_and_fwd_flag'].unique()

array(['N', 'Y'], dtype=object)

In [ ]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
airport_fee              0
dtype: int64

In [ ]:
df['VendorID'].unique()

array([2, 1])

In [ ]:
df['payment_type'].unique()

array([2, 1, 4, 3])

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df['trip_id'] = df.index

In [ ]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_id
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.00,1.0,14.30,2.5,0.00,0
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.00,1.0,16.90,2.5,0.00,1
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.00,1.0,34.90,2.5,0.00,2
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.00,1.0,20.85,0.0,1.25,3
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2981912,2,2023-01-31 23:21:46,2023-02-01 00:03:54,1.0,17.60,2.0,N,132,100,1,70.0,0.00,0.5,16.11,6.55,1.0,97.91,2.5,1.25,2981912
2981913,2,2023-01-31 23:14:38,2023-01-31 23:25:30,1.0,3.37,1.0,N,263,107,1,15.6,1.00,0.5,2.00,0.00,1.0,22.60,2.5,0.00,2981913
2981914,2,2023-01-31 23:44:51,2023-01-31 23:58:45,1.0,2.86,1.0,N,79,246,1,16.3,1.00,0.5,2.00,0.00,1.0,23.30,2.5,0.00,2981914
2981915,1,2023-01-31 23:45:00,2023-01-31 23:55:46,2.0,3.80,1.0,N,68,238,1,17.7,3.50,0.5,2.50,0.00,1.0,25.20,2.5,0.00,2981915
2981916,2,2023-01-31 23:22:47,2023-01-31 23:26:24,1.0,0.60,1.0,N,236,262,2,5.8,1.00,0.5,0.00,0.00,1.0,10.80,2.5,0.00,2981916

In [ ]:
df=df[:100000]

In [ ]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_id
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.00,1.0,14.30,2.5,0.00,0
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.00,1.0,16.90,2.5,0.00,1
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.00,1.0,34.90,2.5,0.00,2
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.00,1.0,20.85,0.0,1.25,3
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2023-01-02 14:53:21,2023-01-02 15:05:21,1.0,1.70,1.0,N,141,163,1,12.8,2.50,0.5,3.35,0.00,1.0,20.15,2.5,0.00,99995
99996,2,2023-01-02 14:08:48,2023-01-02 14:54:58,1.0,18.65,2.0,N,132,158,1,70.0,0.00,0.5,12.27,6.55,1.0,94.07,2.5,1.25,99996
99997,2,2023-01-02 14:27:58,2023-01-02 14:41:29,2.0,2.64,1.0,N,170,148,1,15.6,0.00,0.5,4.90,0.00,1.0,24.50,2.5,0.00,99997
99998,2,2023-01-02 14:49:20,2023-01-02 15:01:22,2.0,2.16,1.0,N,148,164,2,13.5,0.00,0.5,0.00,0.00,1.0,17.50,2.5,0.00,99998
99999,2,2023-01-02 14:28:46,2023-01-02 15:10:03,1.0,12.47,1.0,N,132,189,1,55.5,0.00,0.5,14.25,0.00,1.0,72.50,0.0,1.25,99999

In [ ]:
df.to_csv("uber_1L_data.csv")

#Dimension Tables

In [ ]:
#datetime_dim dataframe created with two columns
datetime_dim = df[['tpep_pickup_datetime','tpep_dropoff_datetime']].reset_index(drop=True)

#further columns created using .dt function
datetime_dim['tpep_pickup_datetime'] = datetime_dim['tpep_pickup_datetime']
datetime_dim['pick_hour'] = datetime_dim['tpep_pickup_datetime'].dt.hour
datetime_dim['pick_day'] = datetime_dim['tpep_pickup_datetime'].dt.day
datetime_dim['pick_month'] = datetime_dim['tpep_pickup_datetime'].dt.month
datetime_dim['pick_year'] = datetime_dim['tpep_pickup_datetime'].dt.year
datetime_dim['pick_weekday'] = datetime_dim['tpep_pickup_datetime'].dt.weekday

#similar process for dropoff_datetime
datetime_dim['tpep_dropoff_datetime'] = datetime_dim['tpep_dropoff_datetime']
datetime_dim['drop_hour'] = datetime_dim['tpep_dropoff_datetime'].dt.hour
datetime_dim['drop_day'] = datetime_dim['tpep_dropoff_datetime'].dt.day
datetime_dim['drop_month'] = datetime_dim['tpep_dropoff_datetime'].dt.month
datetime_dim['drop_year'] = datetime_dim['tpep_dropoff_datetime'].dt.year
datetime_dim['drop_weekday'] = datetime_dim['tpep_dropoff_datetime'].dt.weekday

#assign separate index column to the df which can be referred in the fact_table ahead
datetime_dim['datetime_id'] = datetime_dim.index

#datetime_dim df ordered columns
datetime_dim = datetime_dim[['datetime_id', 'tpep_pickup_datetime', 'pick_hour', 'pick_day', 'pick_month', 'pick_year', 'pick_weekday',
                             'tpep_dropoff_datetime', 'drop_hour', 'drop_day', 'drop_month', 'drop_year', 'drop_weekday']]

In [ ]:
datetime_dim

,datetime_id,tpep_pickup_datetime,pick_hour,pick_day,pick_month,pick_year,pick_weekday,tpep_dropoff_datetime,drop_hour,drop_day,drop_month,drop_year,drop_weekday
0,0,2023-01-01 00:32:10,0,1,1,2023,6,2023-01-01 00:40:36,0,1,1,2023,6
1,1,2023-01-01 00:55:08,0,1,1,2023,6,2023-01-01 01:01:27,1,1,1,2023,6
2,2,2023-01-01 00:25:04,0,1,1,2023,6,2023-01-01 00:37:49,0,1,1,2023,6
3,3,2023-01-01 00:03:48,0,1,1,2023,6,2023-01-01 00:13:25,0,1,1,2023,6
4,4,2023-01-01 00:10:29,0,1,1,2023,6,2023-01-01 00:21:19,0,1,1,2023,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2023-01-02 14:53:21,14,2,1,2023,0,2023-01-02 15:05:21,15,2,1,2023,0
99996,99996,2023-01-02 14:08:48,14,2,1,2023,0,2023-01-02 14:54:58,14,2,1,2023,0
99997,99997,2023-01-02 14:27:58,14,2,1,2023,0,2023-01-02 14:41:29,14,2,1,2023,0
99998,99998,2023-01-02 14:49:20,14,2,1,2023,0,2023-01-02 15:01:22,15,2,1,2023,0
99999,99999,2023-01-02 14:28:46,14,2,1,2023,0,2023-01-02 15:10:03,15,2,1,2023,0

In [ ]:
#passenger_count dimensional table
passenger_count_dim=df[['passenger_count']].reset_index(drop=True)

#assign separate index column to the df which can be referred in the fact_table ahead
passenger_count_dim['passenger_count_id']=passenger_count_dim.index

#ordered columns
passenger_count_dim = passenger_count_dim[['passenger_count_id','passenger_count']]

In [ ]:
passenger_count_dim

       passenger_count_id  passenger_count
0                       0              1.0
1                       1              1.0
2                       2              1.0
3                       3              0.0
4                       4              1.0
...                   ...              ...
99995               99995              1.0
99996               99996              1.0
99997               99997              2.0
99998               99998              2.0
99999               99999              1.0

[100000 rows x 2 columns]

In [ ]:
#trip_distance dimensional table
trip_distance_dim = df[['trip_distance']].reset_index(drop=True)

#assign separate index column to the df which can be referred in the fact_table ahead
trip_distance_dim['trip_distance_id'] = trip_distance_dim.index

#ordered columns
trip_distance_dim = trip_distance_dim[['trip_distance_id','trip_distance']]

In [ ]:
trip_distance_dim

       trip_distance_id  trip_distance
0                     0           0.97
1                     1           1.10
2                     2           2.51
3                     3           1.90
4                     4           1.43
...                 ...            ...
99995             99995           1.70
99996             99996          18.65
99997             99997           2.64
99998             99998           2.16
99999             99999          12.47

[100000 rows x 2 columns]

In [ ]:
#rate_code dimensional table
#final rate code at the end of the trip
rate_code_type = {
    1:"Standard rate",
    2:"JFK",
    3:"Newark",
    4:"Nassau or Westchester",
    5:"Negotiated fare",
    6:"Group ride"
}

rate_code_dim = df[['RatecodeID']].reset_index(drop=True)

#column using index of df
rate_code_dim['rate_code_id'] = rate_code_dim.index

#map the rate code name to rate code ID
rate_code_dim['rate_code_name'] = rate_code_dim['RatecodeID'].map(rate_code_type)

#order the columns
rate_code_dim = rate_code_dim[['rate_code_id','RatecodeID','rate_code_name']]

In [ ]:
rate_code_dim

       rate_code_id  RatecodeID rate_code_name
0                 0         1.0  Standard rate
1                 1         1.0  Standard rate
2                 2         1.0  Standard rate
3                 3         1.0  Standard rate
4                 4         1.0  Standard rate
...             ...         ...            ...
99995         99995         1.0  Standard rate
99996         99996         2.0            JFK
99997         99997         1.0  Standard rate
99998         99998         1.0  Standard rate
99999         99999         1.0  Standard rate

[100000 rows x 3 columns]

In [ ]:
df['RatecodeID'].unique()

array([1., 2., 4., 5., 3., 6.])

In [ ]:
#pickup_location dimensional table
pickup_location_dim = df[['PULocationID']].reset_index(drop=True)

#column using index of df
pickup_location_dim['pickup_location_id'] = pickup_location_dim.index

#order the columns
pickup_location_dim = pickup_location_dim[['pickup_location_id','PULocationID']]

In [ ]:
pickup_location_dim

       pickup_location_id  PULocationID
0                       0           161
1                       1            43
2                       2            48
3                       3           138
4                       4           107
...                   ...           ...
99995               99995           141
99996               99996           132
99997               99997           170
99998               99998           148
99999               99999           132

[100000 rows x 2 columns]

In [ ]:
#dropoff_location dimensional table
dropoff_location_dim = df[['DOLocationID']].reset_index(drop=True)

#column using index of df
dropoff_location_dim['dropoff_location_id'] = dropoff_location_dim.index

#order the columns
dropoff_location_dim = dropoff_location_dim[['dropoff_location_id','DOLocationID']]

In [ ]:
dropoff_location_dim

       dropoff_location_id  DOLocationID
0                        0           141
1                        1           237
2                        2           238
3                        3             7
4                        4            79
...                    ...           ...
99995                99995           163
99996                99996           158
99997                99997           148
99998                99998           164
99999                99999           189

[100000 rows x 2 columns]

In [ ]:
payment_type_name = {
    1:"Credit card",
    2:"Cash",
    3:"No charge",
    4:"Dispute",
    5:"Unknown",
    6:"Voided trip"
}

#paymen_type dimensional table
payment_type_dim = df[['payment_type']].reset_index(drop=True)

#column using index of df
payment_type_dim['payment_type_id'] = payment_type_dim.index

#map the payment type to payment type name
payment_type_dim['payment_type_name'] = payment_type_dim['payment_type'].map(payment_type_name)

#ordered columns
payment_type_dim = payment_type_dim[['payment_type_id','payment_type','payment_type_name']]

In [ ]:
payment_type_dim

       payment_type_id  payment_type payment_type_name
0                    0             2              Cash
1                    1             1       Credit card
2                    2             1       Credit card
3                    3             1       Credit card
4                    4             1       Credit card
...                ...           ...               ...
99995            99995             1       Credit card
99996            99996             1       Credit card
99997            99997             1       Credit card
99998            99998             2              Cash
99999            99999             1       Credit card

[100000 rows x 3 columns]

In [ ]:
payment_type_dim['payment_type'].unique()

array([2, 1, 4, 3])

In [ ]:
#passenger_count_dim is merged into 'df' on basis of common column,
#that is 'trip_id' in 'df' and passenger_count_id in 'passenger_count_dim'
# (similar to inner join --> )
fact_table = df.merge(passenger_count_dim, left_on='trip_id', right_on='passenger_count_id') \
             .merge(trip_distance_dim, left_on='trip_id', right_on='trip_distance_id') \
             .merge(rate_code_dim, left_on='trip_id', right_on='rate_code_id') \
             .merge(pickup_location_dim, left_on='trip_id', right_on='pickup_location_id') \
             .merge(dropoff_location_dim, left_on='trip_id', right_on='dropoff_location_id')\
             .merge(datetime_dim, left_on='trip_id', right_on='datetime_id') \
             .merge(payment_type_dim, left_on='trip_id', right_on='payment_type_id')


fact_table=fact_table[['trip_id','VendorID', 'datetime_id', 'passenger_count_id',
               'trip_distance_id', 'rate_code_id', 'store_and_fwd_flag', 'pickup_location_id', 'dropoff_location_id',
               'payment_type_id', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
               'improvement_surcharge', 'total_amount']]

In [ ]:
fact_table

,trip_id,VendorID,datetime_id,passenger_count_id,trip_distance_id,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type_id,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,0,2,0,0,0,0,N,0,0,0,9.3,1.00,0.5,0.00,0.00,1.0,14.30
1,1,2,1,1,1,1,N,1,1,1,7.9,1.00,0.5,4.00,0.00,1.0,16.90
2,2,2,2,2,2,2,N,2,2,2,14.9,1.00,0.5,15.00,0.00,1.0,34.90
3,3,1,3,3,3,3,N,3,3,3,12.1,7.25,0.5,0.00,0.00,1.0,20.85
4,4,2,4,4,4,4,N,4,4,4,11.4,1.00,0.5,3.28,0.00,1.0,19.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,99995,99995,99995,99995,N,99995,99995,99995,12.8,2.50,0.5,3.35,0.00,1.0,20.15
99996,99996,2,99996,99996,99996,99996,N,99996,99996,99996,70.0,0.00,0.5,12.27,6.55,1.0,94.07
99997,99997,2,99997,99997,99997,99997,N,99997,99997,99997,15.6,0.00,0.5,4.90,0.00,1.0,24.50
99998,99998,2,99998,99998,99998,99998,N,99998,99998,99998,13.5,0.00,0.5,0.00,0.00,1.0,17.50
99999,99999,2,99999,99999,99999,99999,N,99999,99999,99999,55.5,0.00,0.5,14.25,0.00,1.0,72.50

In [ ]:
fact_table.shape

(100000, 17)